.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  float: left;
}

.archived {
  opacity: 50%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .container {
  padding-bottom: 15px;
}

.card img {
  height: 36px;
  vertical-align: middle;
}

.card i {
  vertical-align: middle;
}

.card a {
  color: #212121;
}

.card a:hover {
  color: #1565c0;
}

.colorscheme-dark .card a {
  color: #dadada;
}

.colorscheme-dark .card a:hover {
  color: #42a5f5;
}
