<div class="card {{ if .Get "archived" }}archived{{ end }}">
  <div class="container">
    <h3><b>{{ .Get "name" }}{{ if .Get "archived" }} (Arquivado){{ end }}</b></h3>
    <p>{{ .Get "description" }}</p>
    <div>
      {{ if .Get "website" }}
      <a href="{{ .Get "website" }}" target="_blank"><i class="fa fa-link fa-2x"></i></a>
      {{ end }}

      {{ if .Get "github" }}
      <a href="https://github.com/{{ .Get "github" }}/" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      {{ end }}

      {{ if .Get "pypi" }}
      <a href="https://pypi.org/project/{{ .Get "pypi" }}/" target="_blank"><img src="/images/pypi.svg" /></a>
      {{ end }}

      {{ if .Get "readthedocs" }}
      <a href="https://{{ .Get "readthedocs" }}.readthedocs.io/" target="_blank"><img src="/images/readthedocs.png" /></a>
      {{ end }}
    </div>
  </div>
</div>
